/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Alata&family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
*, .logo{
    font-family: "Alata";
    background-color: #ffff;
}
.logo{
    margin-top: 13px;
}

/* topnav & co */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }


   a {
    text-decoration: none;
   }
   li {
    list-style: none;
   }

/* navbar */
.navbar {
    margin-top: 10px;
    scale: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #ffff; 
    color: #464c53;
   }
   .nav-links a, .logo a{
    color: #464c53;
   }
   .nav-links:hover{
    color: #8d98a7;
   }

   /* LOGO */
   .logo {
    font-size: 32px;
   }
   /* NAVBAR MENU */
   .menu {
    margin-top: 20px;
    display: flex;
    gap: 1em;
    font-size: 25px;
   }

   .menu li:hover {
    color: #292c30;
    border-radius: 5px;
    transition: 0.3s ease;
   }
   .menu li {
    padding: 5px 14px;
   }
   /* DROPDOWN MENU */
   .services {
    position: relative; 
   }
   .dropdown {
    font-size: 20px;
    color: #646E78;
    background-color: rgb(255, 255, 255);
    padding: 1em 0;
    position: absolute; /*WITH RESPECT TO PARENT*/
    display: none;
    border-radius: 30px;
    top: 35px;
   }
   .dropdown li + li {
    margin-top: 10px;
   }
   .dropdown li {
    padding: 0.5em 1em;
    width: 8em;
    text-align: center;
   }

   .services:hover .dropdown {
    display: block;
   }


   /*RESPONSIVE NAVBAR MENU STARTS*/
/* CHECKBOX HACK */
input[type=checkbox]{
 display: none;
} 
/*HAMBURGER MENU*/
.hamburger {
    margin-left: 8px;
margin-top: 6.5px;
display: none;
 font-size: 40px;
 user-select: none;
 border-radius: 50px;
}
/* APPLYING MEDIA QUERIES */
@media (max-width: 768px) {
.menu { 
 display:none;
 position: absolute;
 right: 0;
 left: 0;
 text-align: center;
 padding: 16px 0;
}
.menu li:hover {
color: #596169;
 display: inline-block;
 transition: 0.3s ease;
}
.menu li + li {
 margin-top: 12px;
}
input[type=checkbox]:checked ~ .menu{
 display: block;
}
.hamburger {
 display: block;
}
.hamburger:hover{
    color:#8d98a7;
}
.dropdown {
 left: 50%;
 top: 30px;
 transform: translateX(35%);
}

}

.logoimmagine{
    width: 40px;
    
}

/* AGGIUNTO */


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  width: 100%;

}




*:focus {
  outline: none;
  box-shadow: 0 0 0.1rem 0.5rem rgba(230, 125, 34, 0.5);
}



.it {
  font-style: italic;
}

.bold {
  font-weight: 700;
}

.par-gap {
  padding-top: 1.2rem;
}

.center {
  text-align: center;
}



.heading-title {
  font-size: 6.4rem;
  line-height: 1.1;
  font-weight: 700;
  letter-spacing: -0.2px;
  /* margin-top: 9.6rem; */
  margin-bottom: 1rem;
  text-align: center;
  color: #444;
}

.heading-subtitle {
  font-size: 2rem;
  font-weight: 600;
  color: #949494;
  text-align: center;
  padding-left: 6.4rem;
  padding-right: 6.4rem;
  margin-bottom: 3.6rem;
}


.heading-primary,
.heading-secondary,
.heading-tertiary {
  font-weight: 700;
  letter-spacing: -0.2px;
  /* justify-content: center; */
}

.heading-primary {
  font-size: 4.4rem;
  color: #444;
  line-height: 1.1;
  margin-bottom: 3.2rem;
}

.heading-secondary {
  font-size: 1.8rem;
  font-weight: 700;
  color: #bb5700;
  text-transform: uppercase;
  margin-bottom: 3.2rem;
}

.heading-secondary-cv {
  font-size: 1.8rem;
  font-weight: 700;
  color: #8e8e8e;
  text-transform: uppercase;
  margin-bottom: 1.2rem;
}

.heading-centered-secondary {
  text-align: center;
}

.heading-tertiary {
  font-size: 3.6rem;
  line-height: 1.1;
  color: #444;
  margin-bottom: 4.8rem;
}

.col-white {
  color: #fbfbfb;
}

.color-orange {
  color: #e67e22;
}

.color-gray {
  color: #7a7a7a;
}

.color-gray-thick {
  color: #7b2525;
}

.heading-centered-tertiary {
  text-align: center;
}

.heading-quartiary {
  font-size: 3rem;
  line-height: 1.1;
  color: #444;
  font-weight: 700;
  margin-bottom: 3.2rem;
}

.container {
  max-width: 140rem;
  display: grid;
  margin: 0 auto;
  padding: 3.2rem 3.2rem;
}

.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
}

.grid:last-child {
  margin-bottom: 0;
}

.grid:not(:last-child) {
  margin-bottom: 9.6rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.grid--5-cols {
  grid-template-columns: repeat(5, 1fr);
}

.grid--center-v {
  align-items: center;
}
